body {
    text-align: center;
  }
  
  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .pokemon-block,.pokemon-block-back {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }
  
  .ImgPokemon {
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .nombrePokemon {
    text-transform: capitalize;
    font-weight: italic;
    font-size: 1.2rem;
  }
  
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: inherit;
  }
  
  .stat-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }
  